.dropdown-container {
    padding: 0;
    position: relative;
}

.label-container {
    padding: 2px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: border-width 50mx cubic-bezier(.23, 1, .32, 1) 0ms;
}
.label-container:active {
    border-bottom: 2px solid #43a047;
}
.arrow {
    margin-top: -6px;
}
.options {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 4px #b5b5b5;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity .1s linear;
}

.options.opened {
    opacity: 1;
    pointer-events: all;
}

.option {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color .3s linear;
}

.option.active {
    background-color: rgba(0,0,0,.12);
    color: #43a047;
}

.option:hover {
    background-color: rgba(0,0,0,.06);
}
.option:active {
    background-color: rgba(0,0,0,.20);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;
    pointer-events: none;
}

.backdrop.active {
    display: block;
    pointer-events: all;
}